body{
    margin: 0 ;
    padding: 0;
}
#cinemas{
     display: flex;
     flex-direction: column;
 }
#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    height: 7vh;
}
#fallBack{
    position: absolute;
    left: 0;
    height: 100%;
    width: 2rem;
    background: url(../picture/fallback.png);
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
;
}
#title{
    text-align: center;
    font-size: 17px;
    color: #191a1b;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7vh;
    line-height: 7vh;
}
#remain{
    display: flex;
    flex-direction: column;
    height: 93vh;
    padding-top: 7vh;
}
.cinemas_cinema{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    text-decoration-line: none;
}
.cinemas_cinema_name{
    color: #191a1b;
    font-size: 15px;

}
.cinemas_cinema_address{
    color: #797d82;
    font-size: 13px;
    margin-top: 5px;
}
#footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 7%;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    justify-content: space-between;
}
.footer_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    color: black;
    text-decoration-line: none;
}
.footer_div_img{
    width: 21px;
    height: 21px;
    margin: 0.2rem;
}
.footer_div_text{
    font-size: 10px;
    line-height: 12px;
    word-break: keep-all;
    color: #797d82;
    top: 32px;
}
#footer_cinema_text{
    color: #ff5f16;
}