#movies{
    display: flex;
    flex-direction: column;
}
.movies_movie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none;
}
.movies_movie_info{
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    font-size: 13px;
    color: #797d82;
    width: 80%;
}
.movies_movie_info_name{
    color: #191a1b;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
}
.movies_movie_buyTicket{
    font-size: 0.75rem;
    color: #ff5f16;
    border: 1px solid #3e867f;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}
#noMore{
    height: 59px;
    background-color: #ededed;
    color: #bdc0c5;
    font-size: 13px;
    text-align: center;
    margin: auto;
    line-height: 59px;
    width: 100%;
}
#footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 7%;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    justify-content: space-between;
}
.footer_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
}
.footer_div_img{
    width: 21px;
    height: 21px;
    margin: 0.2rem;
}
.footer_div_text{
    font-size: 10px;
    line-height: 12px;
    word-break: keep-all;
    color: #797d82;
    top: 32px;
}

