body{
    margin: 0;
    padding: 0;
}
#payOrder{
    display: flex;
    flex-direction: column;
}
#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    height: 7vh;
}
#fallBack{
    position: absolute;
    left: 0;
    height: 100%;
    width: 2rem;
    background: url(../picture/fallback.png);
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
;
}
#title{
    text-align: center;
    font-size: 17px;
    color: #191a1b;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7vh;
    line-height: 7vh;
}
#remain{
    display: flex;
    flex-direction: column;
    height: 93vh;
    padding-top: 7vh;
}
#payInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
}
#payInfo_shouldPay{
    font-size: 2rem;
}
#payInfo_orderId{
    font-size: 0.9rem;
    color: #9E9E9E;
}
#pointPay_img{
    height: 2rem;
}
#wechatPay_img{
    height: 2rem;
}
#pointPay{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}
#pointPay_text{
    position: relative;
    left: -5.5rem;
    font-size: 1.2rem;
}
#pointPay_chose{
    font-size: 3rem;
}
#wechatPay{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    color: #bdbaba;
}
#wechatPay_text{
    position: relative;
    left: -5.5rem;
    font-size: 1.2rem;
}
#wechatPay_chose{
    font-size: 3rem;
}
#payNow{
    position: fixed;
    bottom: 0;
    background-color: #f6c228;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    text-decoration-line: none;
    color: white;
}