body {
    margin: 0;
    padding: 0;
}

#selectedMovie {
    display: flex;
    flex-direction: column;

}

#top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    height: 7vh;
}

#fallBack {
    position: absolute;
    left: 0;
    height: 100%;
    width: 2rem;
    background: url(../picture/fallback.png);
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;;
}

#title {
    text-align: center;
    font-size: 17px;
    color: #191a1b;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 7vh;
    line-height: 7vh;
}

#remain {
    display: flex;
    flex-direction: column;
    height: 93vh;
    padding-top: 7vh;
}

#date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

.cinema {
    padding: 15px;
    text-decoration-line: none;
    color: #191a1b;
}

.cinema_name {
    font-size: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cinema_address {
    font-size: 13px;
    color: #797d82;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active_date {
    color: #ff5f16;
}