<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/cinema.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
    <div id="cinemas">
        <div id="cinemas_title">影院</div>
        <a :href="'/selectedMovie_cinema.html?cinemaId='+cinema.id" class="cinemas_cinema" v-for="cinema in cinemas">
            <div class="cinemas_cinema_name">{{cinema.name}}</div>
            <div class="cinemas_cinema_address">{{cinema.address}}</div>
        </a>
        <div id="footer" class="tags">
            <div id="footer_movie" class="footer_div">
                <img class="footer_div_img" src="picture/movie.png">
                <div class="footer_div_text">电影</div>
            </div>
            <div id="footer_cinema" class="footer_div">
                <img  class="footer_div_img" src="picture/cinema.png">
                <div  class="footer_div_text">影院</div>
            </div>
            <div id="footer_me" class="footer_div">
                <img  class="footer_div_img" src="picture/me.png">
                <div  class="footer_div_text">我的</div>
            </div>
        </div>
    </div>
</script>
<script >
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                user:{},//用户信息
                cinemas:[],//所有影院信息

            };
        },
        created:function () {
            //获取用户信息
            axios.get("http://zhouzhaorong.xyz/user/").then((response) => {
                let code = response.data.code;
                if (code == 200) {
                    let user = response.data.data;
                    this.user = user;
                }
            }).catch(error => {
                }
            )
            //查询所有影院
            axios.get('http://zhouzhaorong.xyz/order/selectCinemas').then((response) => {
                this.cinemas = response.data.data;
            });

        }
    })
</script>
</html>