<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<body>
<div id="app">

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
<div id="confirmOrder">
    <div id="movie">
        <div id="movie_name">{{orderDetail.movieName}}</div>
        <div id="movie_length">110分钟</div>
        <div id="movie_hallName">{{orderDetail.hallName}}</div>
        <div id="movie_SitPositions">
            <div id="movie_SitPosition" v-for="sitPosition in sitPositionArr">{{sitPosition}}</div>
        </div>
    </div>
    <div id="cinema">
        <div id="cinema_name">{{orderDetail.cinemaName}}</div>
        <div id="cinema_address">{{orderDetail.address}}</div>
    </div>
    <div id="time">
        <div id="time_day"></div>
        <div id="time_date"></div>
        <div id="time_datetime"></div>
    </div>
    <div id="pay">
        <div id="price"></div>
        <div id="number"></div>
        <div id="shouldPay"></div>
    </div>
</div>
</script>
<script>
    let app=new Vue({
        el:'#app',
        template:'#template',
        data:function () {
            return{
                orderDetail:{},
                sitPositionArr:[],
            }
        },

        methods:{
            //支付
            /*pay:function () {
                let orderDetail=this.orderDetail;
                let orderId=orderDetail.id;
                axios({
                    method:"post",
                    url:"http://zhouzhaorong.xyz/order/pay",
                    headers:
                      {
                        'Content-Type': 'application/json'
                       },
                    data:orderId
                }).then((response)=>{
                    window.location="http://zhouzhaorong.xyz/orderDetail.html?orderId="+orderId;
                })
            }*/
        },
      /*  GET /order/selectOrderById*/
        created:function () {
            let orderId=getQuery("orderId");
            axios.get('http://zhouzhaorong.xyz/order/selectOrderById',{
                params:{
                    orderId:orderId,
                }
            }).then((response)=>{
                this.orderDetail=response.data.data;
                let sitNumbers=response.data.data.sitNumbers;
                let sitNumberArr =sitNumbers.split(',');
                let sitPositionArr=[];
                let position=null   ;
                for(let index in sitNumberArr){
                    let i=parseInt(sitNumberArr[index]);
                    position=(parseInt(i/10)+1)+'排'+i%10+'座'
                    if(i%10==0){
                        position=parseInt(i/10)+'排10座';
                    }
                   sitPositionArr.push(position);
                }
                this.sitPositionArr=sitPositionArr;
            })
        },
        mounted:function () {

        },
        computed: {
            payPoint:function () {
                let payPrice=this.orderDetail.payPrice;
                let payPoint=payPrice*10;
                return payPoint;
            },
        }
    })
</script>
</html>