<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/index.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/x-template" id="template">
            <!--显示所有电影-->
            <div id="movies">
                <a :href="'/selectedMovie.html?movieId='+movie.id" class="movies_movie" v-for="movie in movies">
                    <div class="movies_movie_info">
                        <div class="movies_movie_info_name">{{movie.name}}</div>
                        <div class="movies_movie_info_description">{{movie.description}}</div>
                        <div class="movies_movie_info_length">{{movie.movieLength}}分钟</div>
                    </div>
                    <div class="movies_movie_buyTicket">购票</div>
                </a>
                <div id="noMore">无更多电影</div>

                <div id="footer" class="tags">
                    <div id="footer_movie" class="footer_div">
                        <img class="footer_div_img" src="picture/movie.png">
                        <div class="footer_div_text">电影</div>
                    </div>
                    <div id="footer_cinema" class="footer_div">
                        <img  class="footer_div_img" src="picture/cinema.png">
                        <div  class="footer_div_text">影院</div>
                    </div>
                    <div id="footer_me" class="footer_div">
                        <img  class="footer_div_img" src="picture/me.png">
                        <div  class="footer_div_text">我的</div>
                    </div>
                </div>
            </div>
</script>
<script>
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                user: {},//用户
                movies: [],//所有正在上映的电影
            };
        },
        methods: {
            //判断是否为微信浏览器访问
            isWechat: function () {
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    return true;
                } else {
                    return false;
                }
            }
        },
            created: function () {
                //获取用户信息
                axios.get("http://zhouzhaorong.xyz/user/").then((response) => {
                    let code = response.data.code;
                    if (code == 200) {
                        let user = response.data.data;
                        this.user = user;
                    }
                })
                //查询所有电影
                axios.get('http://zhouzhaorong.xyz/order/selectMovies').then((response) => {
                    this.movies = response.data.data;

                });
            },
            mounted: function () {
                //如果是微信浏览器访问则发ajax到微信服务器去登陆
                let isWechat = null;
                let ua = window.navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    isWechat = true;
                } else {
                    isWechat = false;
                }
                if (isWechat) {
                    alert("微信浏览器访问")
                    axios.get('https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx290c9f6319d3532c&redirect_uri=http://zhouzhaorong.xyz/user/wechatLogin&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect').then((response) => {
                        if (respones.data.code == 200) {
                            alert("登陆成功")
                        }
                    }).catch((error) => {
                        alert("登陆失败")
                    });
                } else {
                }
            },
    })
</script>
</html>