<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
    <div>
        <h2>订单详情</h2>
        <div>
            <table>
                <tr>
                    <td>电影名</td>
                    <td>时间</td>
                    <td>影院名字</td>
                    <td>厅号</td>
                    <td>座位</td>
                </tr>
                <tr>
                    <td>{{orderDetail.movieName}}</td>
                    <td>{{orderDetail.datetime}}</td>
                    <td>{{orderDetail.cinemaName}}</td>
                    <td>{{orderDetail.hallName}}</td>
                    <td>{{orderDetail.sitNumbers}}</td>
                </tr>
            </table>
        </div>

        <div>
            <div>取票码:</div>
            <div>{{orderDetail.uuid}}</div>
        </div>
        <div>
            <div>地址：</div>
            <div>{{orderDetail.cinemaName}}</div>
            <div>{{orderDetail.address}}</div>
        </div>
    </div>
</script>
<script>
    let app=new Vue({
        el:'#app',
        template: '#template',
        data:function () {
            return{
                orderDetail:'',
            }
        },

        methods:{

        },

        created:function () {
            let orderId = getQuery("orderId");
            axios.get('http://zhouzhaorong.xyz/order/selectOrderById',{
                    params:{
                        orderId:orderId
                    }
                }
            ).then((response=>{
                this.orderDetail=response.data.data;
            }))

        },
        mounted:function () {

        },
        computed: {
            //计算所需要的积分
            payPoint:function f() {
                let payPrice=this.orderDetail.payPrice;
                let payPoint=payPrice*10;
                return payPoint;
            }
        }
    })
</script>
</html>