<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/pointPay.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
    <div id="pointPay">
       <div id="title">支付</div>
        <div id="orderId">zzr卖座订单-{{orderDetail.id}}</div>
        <div id="payPrice">¥{{orderDetail.payPrice}}</div>
        <div v-on:click="pay()" id="payNow">确认支付</div>
    </div>
</script>
<script >
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                user:{},//用户信息
                orderDetail:{},
            };
        },
        methods:{
            pay:function () {
                let orderId=this.orderDetail.id;
                axios({
                    method:"post",
                    url:"http://zhouzhaorong.xyz/order/pay",
                    headers:
                        {
                            'Content-Type': 'application/json'
                        },
                    data:orderId
                }).then((response)=>{
                    alert("支付成功")
                    window.location="http://zhouzhaorong.xyz/paySuccess.html?orderId="+orderId;
                })
            }
        },
        created:function () {
            //从rul获取orderId，并获取订单详细
            let orderId=getQuery("orderId");
            axios.get('http://zhouzhaorong.xyz/order/selectOrderById',{
                params:{
                    orderId:orderId,
                }
            }).then((response)=>{
                this.orderDetail=response.data.data;
            })
        }
    })
</script>
</html>