<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .test2{
        color: yellow;
    }
</style>
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<!--<script type="text/javascript" src="../static/JS/buyTicket.js"></script>-->
<script type="text/x-template" id="template">
<a :href="'http://zhouzhaorong.xyz/selectedMovie.html?movieId='+movie" >test</a>
    <div :href="'http://zhouzhaorong.xyz/selectedMovie.html?movieId='+movie">
        <div>aaa</div>
        <div>bbb</div>
    </div>
</script>
<script>
   let app=new Vue({
       el:"#app",
       template:"#template",
       data:function () {
           return{
                payPrice:50,
                movie:50
           }
       },

       created:function () {

       }
   })
</script>
</html>