<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/userCenter.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
    <div id="userCenter">
        <div id="top">
            <img id="head" src="picture/head_login.jpg" >
            <div id="account">{{user.name}}</div>
        </div>
        <div id="order">
            <img id="order_img" src="picture/order.png">
            <div id="order_text">电影订单</div>
        </div>
        <div id="balance">
            <img id="balance_img" class="img" src="picture/balance.png">
            <div id="balance_text">余额</div>
            <div id="balance_points">{{user.points}}</div>
        </div>
        <div id="setting">
            <img id="setting_img" class="img" src="picture/setting.png">
            <div id="setting_text">设置</div>
        </div>
        <div id="footer" class="tags">
            <div class="tag" >电影</div>
            <div class="tag"  >影院</div>
            <div class="tag" >我的</div>
        </div>
    </div>
</script>
<script >
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                user:{},//用户信息
            };
        },
        created:function () {
            //获取用户信息
                axios.get("http://zhouzhaorong.xyz/user/").then((response) => {
                    let code = response.data.code;
                    if (code == 200) {
                        let user = response.data.data;
                        this.user = user;
                    }
                }).catch(error => {
                        alert("error")
                    }
                )
        }
    })
</script>
</html>