<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/userCenter.css">
<body>
<div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/JS/buyTicket.js"></script>
<script type="text/x-template" id="template">
    <div id="userCenter">
        <div id="top">
            <img id="head" src="picture/head_login.jpg" >
            <div id="account">{{user.name}}</div>
        </div>
        <a :href="'/orderList.html'" id="order">
            <img id="order_img" src="picture/order.png">
            <div id="order_text">电影订单</div>
        </a>
        <div id="balance">
            <img id="balance_img" class="img" src="picture/balance.png">
            <div id="balance_text">余额</div>
            <div id="balance_points">{{user.points}}</div>
        </div>
        <div id="setting">
            <img id="setting_img" class="img" src="picture/setting.png">
            <div id="setting_text">设置</div>
        </div>
        <div id="footer" >
            <a :href="'/index.html'" id="footer_movie" class="footer_div">
                <img class="footer_div_img" src="picture/movie.png">
                <div class="footer_div_text">电影</div>
            </a>
            <a :href="'cinema.html'" id="footer_cinema" class="footer_div">
                <img  class="footer_div_img" src="picture/cinema.png">
                <div  class="footer_div_text">影院</div>
            </a>
            <div id="footer_me" class="footer_div">
                <img  class="footer_div_img" src="picture/active_me.png">
                <div id="footer_me_text" class="footer_div_text">我的</div>
            </div>
        </div>
    </div>
</script>
<script >
    let app = new Vue({
        el: '#app',
        template: "#template",
        data: function () {
            return {
                user:{},//用户信息
            };
        },
        created:function () {
            //获取用户信息
                axios.get("http://zhouzhaorong.xyz/user/").then((response) => {
                    let code = response.data.code;
                    let user={};
                    if (code == 200) {
                        user = response.data.data;
                    }else {
                        user.name="未登录";
                        }
                    this.user = user;
                })
        }
    })
</script>
</html>